[Unit]
Description=Airflow webserver daemon
After=network.target postgresql.service
Wants=postgresql.service

[Service]
Environment="AIRFLOW_HOME=/var/www/airflow"
Type=simple
ExecStartPre=/bin/bash -c "export AIRFLOW_HOME="/var/www/airflow/"
ExecStart=/usr/bin/config.sh
Restart=on-failure
RestartSec=5s
PrivateTmp=true

[Install]
WantedBy=multi-user.target
