[Unit]
Description=Airflow webserver daemon
After=network.target postgresql.service
Wants=postgresql.service

[Service]
Environment="AIRFLOW_HOME=/www/var/airflow"
Type=simple
ExecStartPre=/bin/bash -c "sudo sh /var/www/postgres.sh"
ExecStart=/bin/bash -c "sed -i '/executor = SequentialExecutor/ s/SequentialExecutor/LocalExecutor/' /root/airflow/airflow.cfg" 
ExecStartPost=/bin/bash -c 'sudo airflow scheduler'
Restart=on-failure
RestartSec=5s
PrivateTmp=true

[Install]
WantedBy=multi-user.target
