[Unit]
Description=Airflow webserver daemon
After=network.target postgresql.service
Wants=postgresql.service

[Service]
Environment="AIRFLOW_HOME=/www/var/airflow"
Type=simple
ExecStart=/bin/bash -c 'export AIRFLOW_HOME="/var/www/airflow/"; sudo airflow scheduler'
Restart=on-failure
RestartSec=5s
PrivateTmp=true

[Install]
WantedBy=multi-user.target
